* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*::selection {
    background-color: #506a19;
    color: #000000;
}

html,
body {
    height: 100%;
    width: 100%;
    color: #fff;
    user-select: none;
}

#main {
    padding: 20px;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: #000;
    align-items: center;
}

.head {
    position: absolute;
    left: 50%;
    margin-top: 30px;
    transform: translateX(-50%);
}

#counter {
    background-color: black;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comps {
    height: 50%;
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    font-size: 10vw;
    font-weight: 600;
    justify-content: space-between;
}

.change {
    padding: 10px;
    background-color: black;
    border: solid 1px;
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: bolder;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttn:hover{
    cursor: pointer;
}
.change:hover {
    cursor: pointer;
    font-size: 90px;
    border: solid;
}

.reset-wrapper {
    width: 100%;
    height: 30%;
    justify-content: center;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
#setLimit{
    padding: 17px;

    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 32px;
    border-radius: 20px;
    font-weight: bolder;
    border: solid white;
}
#reset {
    padding: 16px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 32px;
    border-radius: 20px;
    font-weight: bolder;
    border: solid white;
}

#limit {
        padding: 15px;
    background-color: black;
    border: solid white;
    font-size: 29px;
    color: #fff;
    border-radius: 20px;
}
#limitDisplay{
    padding: 17px;
    background-color: black;
    border: solid white;
    font-size: 29px;
    color: #fff;
    border-radius: 20px;
}
input::placeholder {
    color: rgb(255, 255, 255);
    /* You can use any color like #888, red, etc. */
}